body {

    /*    background-image: url(https://i.pinimg.com/originals/39/f3/0d/39f30dfc85fc690a20629f1ec368c8eb.gif);*/
    background-image: url(../img/background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.wrapper {

    font-family: 'McLaren';
    font-size: 22px;
    background: rgba(128, 128, 128, 0.8);
    border-radius: 15px 50px;
    width: 85%;
    height: 370px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding-top: 20px;
    color: aliceblue;
}


/* card details start  */

.card-content {
    background: rgba(139, 239, 115, 0.8);

    border: 4px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.card-img {
    position: relative;
    overflow: hidden;
    border-radius: 0;
    z-index: 1;
}

.card-img img {
    width: 100%;
    height: auto;
    display: block;
}

.card-desc {
    padding: 1.25rem;
}

.card-desc h3 {
    color: #000000;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 5px;
    padding: 0;
}

.card-desc p {
    color: #747373;
    font-size: 14px;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5;
    margin: 0px;
    margin-bottom: 20px;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

/* End card section */


/* 5 columns grid for 'md' and 'lg' screens */

@media (min-width: 992px) {
    .col-md-1-5 {
        width: 20%;
    }
    .col-md-2-5 {
        width: 40%;
    }
    .col-md-3-5 {
        width: 60%;
    }
    .col-md-4-5 {
        width: 80%;
    }
    .col-md-5-5 {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .col-lg-1-5 {
        width: 20%;
    }
    .col-lg-2-5 {
        width: 40%;
    }
    .col-lg-3-5 {
        width: 60%;
    }
    .col-lg-4-5 {
        width: 80%;
    }
    .col-lg-5-5 {
        width: 100%;
    }
}

.show-grid [class^=col-] span,
.container-fluid .show-grid [class^=col-] {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eee;
    background-color: rgba(86, 61, 124, .15);
    text-align: center;
    border: 1px solid #ddd;
    border: 1px solid rgba(86, 61, 124, .2);
}

[class^=col-] {
    margin-bottom: 30px;
}
